<<<<<<< HEAD
<%= simple_form_for @manga do |f| %>
  <%= f.input :title %>
  <%= f.input :cover, as: :file %>
  <%= f.input :author %>
  <%= f.input :description %>
  <%= f.button :submit %>
  <%= f.button :submit %>
<% end %>
=======
<h1>Mangas#edit</h1>
<p>Find me in app/views/mangas/edit.html.erb</p>
>>>>>>> develop
