<<<<<<< HEAD


      <!--Photo + Infos principales -->

    <div class="container p-5">
        <div class="row p-5">
            <div class="col d-flex justify-content-center">
                <img class='image' style="height:170%" src="<%= @manga.image_url %>" alt="Manga-item">
<<<<<<< HEAD
                <%= image_tag @manga.cover %>

=======
								<%= image_tag @manga.cover %>				
>>>>>>> bbbed74c5273b2ce9de8751df4d4fa191f8e656f
            </div>
            <div class="col">
                <h1><%= @manga.title.capitalize %></h1>
                <h2>  Auteur : <%= @manga.author %> </h2>
                <%= link_to "Ajouter à ma Bibliothèque", manga_library_items_path(@manga.id), method: "POST" %>
            </div>
        </div>
        </div>
    <br>

          <!--Description -->

    <div class="container p-5">
    <div class="row px-5">
        <div class="col px-5">
        <h2> Description </h2>
        <h6><%= @manga.description %></h6>
        </div>
=======
<div class="container-fluid">
  <div class="container-fluid p-5 background-manga text-white">
    <div class="mr-5">
      <% if @manga.cover.attached? %>
        <%= image_tag @manga.cover %>	
      <% else %>			
        <img class='img-manga-show' src="<%= @manga.image_url %>" alt="Manga-item">
      <% end  %>
>>>>>>> 8db4b745baccd849b60c1205212c1e263ab5e8e1
    </div>
    <div class="description-manga ml-5">
      <h2><%= @manga.title.capitalize %></h2>
      <h3>  Auteur : <%= @manga.author %> </h3>
      <h3> Description </h3>
      <p><%= @manga.description %></p>
      <%= link_to "Ajouter à ma Bibliothèque", manga_library_items_path(@manga.id), method: "POST", class:"btn btn-secondary" %>
      <%= link_to "Ajouter à ma Wishlist", manga_wishlist_items_path(@manga.id), method: "POST", class:"btn btn-danger" %>
    </div>
  </div>

  <div class="container py-5">
    <h2 class="text-center"> Les membres qui proposent ce Manga </h2>

    <div class="all-show-manga px-5">
      <% @items.each do |item|%>
        <article class="card-last-manga card-show-manga card--1">
          <div class="card__img" style="background-image: url('<%= item.manga.image_url %>')"></div>
          <a href="<%=library_item_path(item.id)%>" class="card_link">
            <div class="card__img--hover" style="background-image: url('<%= item.manga.image_url %>')"></div>
          </a>
          <div class="card__info">
            <h3 class="card__title">Tome n° : </h3>
            <h4>Membre : <%= item.user.name%></h4>
            <%= link_to "Demander ce Manga", library_item_path(item.id), class:"btn btn-outline-secondary my-2" %>
          </div>
        </article>
      <%end%>
    </div>
  </div>
</div>