<header>
  <%= render "shared/navbar" %>

  <div class="container-fluid" id="fond">
    <%= image_tag 'rectangle1.png', class:"rectangle1 animate__animated animate__fadeInUpBig"%>
    <%= image_tag 'rouge1.png', class:"rouge1 animate__animated animate__fadeInDownBig"%>
    <%= image_tag 'rectangle2.png', class:"rectangle2 animate__animated animate__fadeInUpBig"%>
    <%= image_tag 'rectangle3.png', class:"rectangle3 animate__animated animate__fadeInDownBig"%>
    <%= image_tag 'rectangle4.png', class:"rectangle4 animate__animated animate__fadeInUpBig"%>
    <%= image_tag 'rectangle5.png', class:"rectangle5 animate__animated animate__fadeInDownBig"%>
    <%= image_tag 'rouge2.png', class:"rouge2 animate__animated animate__fadeInUpBig"%>
    <%= image_tag 'rectangle6.png', class:"rectangle6 animate__animated animate__fadeInDownBig"%>
  </div>
</header>

<div style="height: 600px">

</div>